body {
  position: relative;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

header {
  position: relative;
  z-index: 1;
  color: white;
}

#navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  flex-wrap: wrap;
}

#navBar div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

#navBar img {
  height: 90px;
  width: auto;
}

#navBar a#logo {
  padding: 0;
}

#navBar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}

#navBar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#navBar a:hover,
a#btnRegistrarme:hover {
  background-color: #501e85;
}

#navBar a#btnLogin {
  gap: 5px;
}

a#btnRegistrarme {
  color: white;
  border: 1px solid #6023a6;
  background: #6023a6;
  padding: 20px 40px;
  font-weight: bolder;
  border-radius: 15px;
}


#section-video {
  overflow: hidden;
  position: relative;
  top: -90px;
  height: 100vh;
}

#section-video video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  object-position: bottom center;
  border: none;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
}

#section-video div#videoContainer {
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#seccionUno {
  position: absolute;
  top: 25%;
  right: 0px;
  z-index: 1;
}

main {
  width: 100%;
}

div#slogan {
  color: white;
  border-radius: 50px;
  padding: 20px;
  text-align: right;
}

div#slogan p {
  margin-top: 30px;
  font-size: 18px;
}

#slogan-cat {
  color: #6023a6;
  font-weight: bolder;
}

div#slogan h1 {
  color: white;
  font-size: 4rem;
  line-height: 1;
  font-weight: bolder;
  margin-top: 25px;
}

div#slogan span {
  display: block;
}

#seccionUno #botones {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

form {
  max-width: 450px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  padding: 20px;
}

form label {
  text-align: left;
}

form input {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 0 !important;
  margin-bottom: 25px !important;
}

.video-overlay {
  border: none;
  background: linear-gradient(180deg,
      rgba(52, 9, 98, 0) 0%,
      rgba(52, 9, 98, 0.1) 30%,
      rgba(52, 9, 98, 0.2) 50%,
      rgba(52, 9, 98, 0.1) 70%,
      rgba(52, 9, 98, 0) 100%),
    linear-gradient(270deg,
      rgba(52, 9, 98, 0) 0%,
      rgba(52, 9, 98, 0.05) 25%,
      rgba(52, 9, 98, 0.15) 50%,
      rgba(52, 9, 98, 0.05) 75%,
      rgba(52, 9, 98, 0) 100%);
  background-blend-mode: multiply, multiply;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#seccionDos {
  display: grid;
  grid-template-columns: 4fr 6fr;
  padding: 0 25px 100px 25px;
  align-items: center;
  gap: 25px;
}

#seccionDos h2 {
  font-size: 2.5rem;
  justify-content: space-around;
  font-weight: bolder;
}

#seccionDos p {
  max-width: 450px;
  /* ancho máximo fijo */
  overflow: hidden;
  /* Oculta el texto que sobrepasa el límite */
  text-overflow: ellipsis;
  /* Añade puntos suspensivos al final del texto que no cabe * */
  text-align: justify;
}

#collage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*fragmentos*/
  grid-gap: 25px;
  grid-template-rows: 1fr;
  align-items: center;
}

#collage #imagenesCompartidas {
  display: grid;
  grid-gap: 25px;
}

#collage img:hover {
  transform: scale(1.10);
  /* La imagen se agranda ligeramente*/
}

#collage img {
  border-radius: 3%;
  transition: all 0.5s;
}

#contactenos {
  border-radius: 50% 50% 0 0;
  position: relative;
  background-color: #7125cbbd;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 150px 50px;
  font-size: 1.5rem;
  border: none;
}

#contactenos h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 50px;
}

#contactenos iframe {
  border-radius: 20px;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
  border: transparent;
  width: 400px;
  height: 400px;
  min-width: 320px;
  min-height: 320px;
}

#contactenos div section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;

}

#contactenos div#redesSociales {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
}

footer {
  background-color: white;
  color: #501e85;
  text-align: center;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 15px 0;
}

#navBarResponsive {
  display: none;
}

.hidden {
  display: none;
  /* Clase para ocultar el menú */
}

@media (max-width: 1280px) {
  #section-video div#videoContainer {
    position: relative;
  }

  #seccionUno {
    position: relative;
    top: 0;
    right: 0px;
    z-index: 1;
  }

  #section-video {
    height: auto;
    padding: 0;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  #navBar {
    display: none;
  }

  #navBarResponsive {
    display: block;
  }

  #navBarResponsive #logo {
    display: none;
  }

  #menu {
    display: flex;
    flex-direction: column;
    /* Cambiar a columna en pantallas pequeñas */
    position: absolute;
    /* Ajusta según la altura del navbar */
    left: 0;
    background: white;
    /* Fondo blanco para el menú */
    width: 100%;
    z-index: 100;
    padding: 10px 10px;
    border-radius: 4px;
    /* Esquinas redondeadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #501e85;
    max-width: 180px;
    gap: 10px;
  }

  a#btnRegistrarme {
    padding: 5px 15px;
  }

  #menuToggle {
    display: block;
    /* Mostrar botón en pantallas pequeñas */
  }

  /* Ocultar menú por defecto en pantallas pequeñas */
  #menu.hidden {
    display: none;
  }

  #seccionUno {
    position: relative;
    top: 0;
  }

  #seccionUno #botones {
    margin-top: 10px;
  }

  #section-video {
    height: auto;
    overflow: hidden;
    position: relative;
    top: -25px;
  }

  #section-video video {
    position: absolute;
    transform: scale(3);
  }

  #section-video div#videoContainer {
    position: relative;
  }

  div#slogan p {
    font-size: 14px;
    margin-top: 5px;
  }

  div#slogan h1 {
    font-size: 2rem;
    margin-top: 5px;
  }

  #seccionDos {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    padding: 0 10px 25px 10px;
  }

  #seccionDos h2 {
    font-size: 2rem;
  }

  #contactenos {
    border-radius: 0;
    padding: 25px 10px;
  }

  #contactenos h2 {
    font-size: 2rem;
  }
}